<nb-card>
  <nb-card-header>{{title}}</nb-card-header>
  <nb-card-body>
    <form>
      <div class="flex flex-col space-y-6">
        <div class="bg-blue-600 text-white rounded-lg p-6">
          <span *ngIf="title==='Informción Crédito'" class="uppercase text-xs text-blue-300">Valor de la cuota</span>
          <span *ngIf="title==='Informción Ahorro'"  class="uppercase text-xs text-blue-300">Valor de la ganacia</span>
          <h1
            class="block text-center text-6xl text-white py-16 font-extrabold"
          >
            {{ valorCuota | currency }}
          </h1>

          <div class="flex space-x-12">
            <div >
              <span class="uppercase text-xs text-blue-300" >Total</span>
              <!-- <h6 class="block text-white">{{ valorCuota | currency }}</h6> -->
              <h6 *ngIf="title==='Informción Ahorro'" class="block text-white" >{{ TotalAhorro | currency }}</h6>
              <h6 *ngIf="title==='Informción Crédito'" class="block text-white" >{{ valorCuota | currency }}</h6>
            </div>
            <div>
              <span class="uppercase text-xs text-blue-300">Interés</span>
              <h6 class="block text-white">{{ intereses + "%" }}</h6>
            </div>
          </div>
        </div>
        <!-- <div style="background-color: #1c85e8; color: white; height: 50%">
        <span>hola</span>
      </div> -->
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <div>
      <div style="display: flex; justify-content: center">
        <button
          type="button"
          style="width: 60%"
          nbButton
          shape="round"
          status="primary"
          (click)="open()"
          >
          <!-- (click)="onClickContacto()" -->
          Contáctecnos
        </button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>

