<nb-layout justify
  ><nb-layout-header>
    <nb-layout-column>
      <div class="flex-wrap space-x-3 position">
        <button
          outline
          nbButton
          [nbContextMenu]="items"
          nbContextMenuTag="context-menu"
        >
          Créditos
        </button>
        <button
          outline
          nbButton
          [nbContextMenu]="itemsAhorros"
          nbContextMenuTag="context-menu"
        >
          Ahorros
        </button>
      </div>
    </nb-layout-column>
  </nb-layout-header>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
  <nb-layout-footer>Contact us</nb-layout-footer>
</nb-layout>
