<nb-card>
  <nb-card-header>Datos de contacto</nb-card-header>
  <nb-card-body>
    <form [formGroup]="form">
      <div class="flex flex-col space-y-6">
        <input
          type="text"
          fullWidth
          shape="semi-round"
          type="text"
          nbInput
          placeholder="Nombre Contacto"
          formControlName="NombreCliente"
          mask="separator.0"
          status="primary"
        />
        <input
          type="text"
          fullWidth
          shape="semi-round"
          type="text"
          nbInput
          placeholder="Contacto@email.com"
          formControlName="emailCliente"
          mask="separator.0"
          status="primary"
        />
        <input
          type="text"
          fullWidth
          shape="semi-round"
          type="text"
          nbInput
          placeholder="Telefono-Celular"
          formControlName="TelCel"
          mask="separator.0"
          status="primary"
        />
        <div style="display: flex; justify-content: center">
          <button
          type="button"
          style="width: 60%"
          nbButton
          shape="round"
          status="primary"
          (click)="onClickContacto()"
          >
          Enviar
        </button>
      </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
