<div class="container grid gap-12 grid-col-1 lg:grid-cols-2">
  <nb-card>
    <nb-card-header>Información Ahorro</nb-card-header>
    <nb-card-body>
      <form [formGroup]="form">
        <div class="flex flex-col space-y-6">


          <div>
            <h6>¿Cuánto dinero quieres invertir?</h6>
            <input
              type="number"
              fullWidth
              shape="semi-round"
              type="text"
              nbInput
              placeholder="Valor a solicitar"
              formControlName="montoPrestamo"
              mask="separator.2"
              status="primary"
            />
          </div>

          <ng-container *ngIf="montoPrestamo.touched && montoPrestamo.errors">
            <span *ngIf="montoPrestamo.errors.required">
              El campo es requerido
            </span>
            <span *ngIf="montoPrestamo.errors.pattern">
              El campo debe ser numérico
            </span>
          </ng-container>
          <div>
            <h6>Plazo de la inversión</h6>
            <!-- <nb-select
                    type="number"
                    fullWidth
                    shape="round"
                    type="text"
                    placeholder="Nº Cuotas"
                    shape="semi-round"
                    formControlName="campo2"
                  >
                    <nb-option *ngFor="let option of options" [value]="option">
                      {{ option }}
                    </nb-option>
                  </nb-select> -->
            <div class="containerGrup">
              <nb-button-group
                outline
                size="medium"
                class="flex-wrap space-x-1"
              >
                <button
                  class="mt-1"
                  nbButtonToggle
                  *ngFor="let option of options"
                  [value]="option.value"
                  (click)="onClickNumCuotas(option)"
                >
                  {{ option.text }}
                </button>
              </nb-button-group>
            </div>
          </div>
        </div>
      </form>
    </nb-card-body>
    <nb-card-footer>
      <div class="flex justify-center">
        <button
          style="width: 60%"
          nbButton
          shape="round"
          status="primary"
          (click)="onClick()"
        >
          Simular
        </button>
      </div>
    </nb-card-footer>
  </nb-card>

  <app-informacion-credito [valorCuota]="valorCuota"[title]="title"[intereses]="interes"[TotalAhorro]="totalahorrado"[tipoSolicitud]="'Ahorro'"></app-informacion-credito>
</div>
